<!-- Start About -->
<section class="full-page clearfix" id="about">
    <div class="about">
        <div class="container-fluid">
            <div class="about-wrapper">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-6">
                        <div class="about-content">
                            <h1><span>Soy</span> David Pérez</h1>
                            <h4>Senior Software Developer </h4>
                            <p>Profesional de la Ingeniería de Software, durante 20 años he desempeñado roles técnicos y de gestión, lo que me ha permitido adquirir una visión transversal de la evolución del producto. </p>
                            <p>He cursado estudios de postgrado en Big Data, para completar mi formación académica de Licenciado en Psicología e Ingeniero Técnico Informático..</p>
                            <p>De trato fácil, responsable, y orientado al trabajo en equipo,  busco nuevos retos en proyectos innovadores.</p>
                            <div class="clearfix">
                                <ul class="list-inline home-social-share float-left">
                                    <li class="list-inline-item"><a href="{{site.github_url}}"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a href="{{site.linkedin_url}}"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                </ul>
                                <a href="{{'/assets/documents/20210630CV.pdf'}}" download="David-Pérez-CV" class="home-cv-btn btn btn-link float-right">download cv <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="profile-img">
                   
                            <img class="img-fluid" src="{{'/assets/images/author.png' | relative_url}}" alt="author" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About  -->