<!-- Start Contact ===================================-->
<section class="full-page pd-0 clearfix" id="contact">
    <div class="contact">
        <div class="container-fluid">
            <div class="contact-wrapper text-center">
                <div class="section-title">
                    <div class="border-center"></div>
                    <h2>Contacto</h2>
                    <div class="border-center"></div>
                </div>
                <div class="contact-main">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="contact-info">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="contact-form text-left">
                                <h3><span>Hola</span>, para cualquier consulta, no dudes en ponerte en contacto conmigo</h3>
                                <form action="https://formspree.io/f/xdoygwjq" method="post" id="contact-form">
                                    <div class="form-row">
                                        <div class="form-group first-name col-md-12">
                                            <input type="text" name="name" class="form-control" placeholder="Name" required>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group email col-md-6">
                                            <input type="email" name="email" class="form-control" placeholder="Email" required>
                                        </div>
                                    </div>
                                    <div class="form-group comment">
                                        <textarea placeholder="write your comment" id="textarea" rows="8"></textarea>
                                    </div>
                                    <button type="submit" class="hover-rpl btn btn-primary">Send Message</button>

                                    <input type="hidden" name="_next" value="/thank-you" />
                                    <input type="hidden" name="_subject" value="Contact form submission" />
                                    <input type="text" name="_gotcha" style="display: none;" class="contact-form__gotcha" val="" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Content -->